body{
    background: white url(img/fondo.gif);
    font-family: Verdana;
    font-size: 12px;
    color: blue;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    color: darkred;
}

h2{
    font-size: 24px;
    font-weight: bold;
}